<%- include ("../../partials/header.ejs") %>

<body>
  <%- include ("../../partials/navbar.ejs") %>

  <div class="container">
    <h2 class="mb-5 mt-5">Categorias</h2>

    <a href="/admin/categories/new" class="btn btn-success mb-5"
      >Nova categoria</a
    >

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>

          <th>Título</th>

          <th>Slug</th>

          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% categories.forEach(category => { %>
        <tr>
          <th><%= category.id %></th>

          <th><%= category.title %></th>

          <th><%= category.slug %></th>

          <th>
            <a
              href="/admin/categories/edit/<%= category.id %>"
              class="btn btn-warning"
              >Editar</a
            >

            <form
              method="POST"
              action="/categories/delete"
              style="display: inline"
              onsubmit="confirmDelete(event)"
            >
              <input type="hidden" name="id" value="<%= category.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </th>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include ("../../partials/footer.ejs") %>

<script>
  function confirmDelete(event) {
    if (confirm("Deseja deletar esta categoria?")) {
      event.target.submit();
    } else {
      event.preventDefault();
    }
  }
</script>
