<%- include ("partials/header.ejs") %>

<body>
  <%- include ("partials/home-navbar.ejs") %>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bem vindo!</h1>
      <p class="lead">
        Este é um simples blog desenvolvido para exercitar EJS, Bootstrap, Node,
        Express, Sequelize, MySQL, Body Parser, TinyMCE.
      </p>
    </div>

    <% articles.forEach((article) => { %>
    <div class="card mb-3">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>

      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
      </div>
    </div>
    <% }); %>
  </div>
</body>

<%- include ("partials/footer.ejs") %>
